Flask==3.0.3
gunicorn==23.0.0

tensorflow==2.16.1
keras==3.12.4
numpy==1.26.4
Pillow==10.4.0
opencv-python==4.10.0.84

agno
groq

mysql-connector-python==9.0.0

python-dotenv==1.0.1

requests==2.32.3

markdown==3.7
