 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    <title>Services and Schemes</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='photo1.png')}}">
 </head>
 <body>
    <form action="/action"></form>
    <div>
       <button class="lang" id="langBtn">Eng/ಕನ್ನಡ</button>
    </div>
    <div class="main">
    <div class="section" id="loan" >
        <img src="{{url_for('static',filename='photo1.png')}}">
        <h3 id="servicesHeading">Services and Schemes</h3>      
    </div> 
    <div class="loan_video">
        <ul class="list" id="servicesList">
            <li>Raitha Siri</li>
            <li>Fertilizer and Biofertilizer Quality Control Laboratory</li>
            <li>Karnataka Raita Suraksha Pradhana Mantri Fasal Bima Yojana </li>
            <li>Plant Protection</li>
            <li>Raitha Samparka Kendra</li>
            <li>Crop Survey Scheme</li>
            <li>Maize D B T</li>
            <li>Conservation and Promotion of Landraces</li>
            <li>Karnataka Raitha Samruddhi Yojane</li>
            <li>AGRI STARTUP</li>
            
        </ul>
    </div>
</div>

<div id="videoModal" class="video-modal">

  <div class="video-container">

    <span class="close-video">&times;</span>

    <video id="popupVideo" controls autoplay>
      <source id="popupSource" src="" type="video/mp4">
    </video>

  </div>

</div>
<script src="{{url_for('static',filename='script.js')}}"></script>
 </body>
 </html>